.main {
    @extend.main;
    .title {
        @extend .title;
    }
    .contact {
        font-size: 18px;
        display: flex;
        justify-content: center;
        line-height: 40px;
        .contact-box {
            background-color: rgba(255, 255, 255, 0.75);
            display: flex;
            flex-direction: column;
            width: 800px;
            border-radius: 30px;
            border-width: 2px;
            margin: 20px;
            padding: 20px;
            box-shadow: 2px 2px 4px #2c346b;
            input {
                background-color: transparent;
                height: 30px;
            }
            
            textarea {
                background-color: transparent;
                height: 130px;
                width: 100%;
            }
            .submit {
                font-size: 20px;
                display: flex;
                justify-content: center;  
                align-items: center;  
                padding: 20px;
                background: lightblue;
                border: white;
                outline: black;
                border-radius: 20px;
                overflow: hidden;
                cursor: pointer;
                height: 40px;
            }
        }
    }
}

@media (min-width: 576px){
    .contact {
        font-size: 20px;
        animation: contact-animation 5s linear forwards infinite;
    }
    .contact:hover {
        animation-play-state: paused;
    }
    @keyframes contact-animation {
        0% {
            transform: translateX(0);
        }
        33% {
            transform: translateX(3%);
        }
    }
}


    
    
