@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cormorant&display=swap');
* {
    font-family: 'Cormorant', serif;
}

.body {
    background-image: url(../images/water.jpeg);
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

.header {
    background-color: whitesmoke;
    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 10%);
    position: absolute;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    word-spacing: 20px;
    margin-top: 20px;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: whitesmoke;
}

.logo {
    width: 100px;
    border-radius: 100px;
    margin: 0;
    display: inline-block;
    animation: logo-animation 3s linear forwards infinite;
}

.logo:hover {
    animation-play-state: paused;
}

@keyframes logo-animation  {
    0% {
        transform: translateX(0%);
    }
    33% {
        transform: translateY(10%);
    }
}

.header li a {
    display: flex;
    padding: 8px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    justify-content: center;
    color: #2c346b;
}

.header li a:hover {
    background-color: #D1F2EB;
    color: white;
    font-weight: bold;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.main {
    display: flex;
    flex-direction: column;
}

.title, .subtitle, .p-home {
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
}

.title {
    font-size: 30px;
    background-color: transparent;
    margin-top: 140px;
}

.subtitle {
    font-size: 20px;
    margin: 10px;
} 

.p-home {
    font-size: 18px;
}

.cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.card-home {
    display: inline-flex;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 260px;
    height: 210px;
    padding: 10px;
    border-radius: 30px;
    justify-content: center;  
    align-items: center;
    flex-direction: column;
    margin: 20px;
} 

.card-img {
    border-radius: 30px;
    width: 230px;
}

.footer {
    font-size: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5); 
    display: flex;
    height: 140px;
    justify-content: center;
    flex-direction: column;
    margin-top: auto;    
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body-about {
    display: flex;
    flex-direction: column-reverse;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 330px;
    height: 850px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

.card-text-about {
    font-size: 18px;
    text-align: justify;
    width: 300px;
}

.about-image {
    width: 300px;
    border-radius: 30px;
    padding: 20px;
}

.services {
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;  
    align-items: center;  
    padding: 20px;
    background: #add8e6;
    border: white;
    outline: black;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    height: 40px;
}

.services:hover {
    background-color: #61a6ab;
    height: 45px;
}

.card-body {
    display: inline-flex;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 300px;
    height: 600px;
    padding: 10px;
    border-radius: 30px;
    justify-content: center;  
    align-items: center;
    flex-direction: column;
    margin: 20px;
    transition: width, height, 1s;
}

.img-fluid {
    width: 250px;
    border-radius: 30px;
}

.card-title, .card-title-services {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

.card-text {
    font-size: 3vh;
    text-align: justify;
    margin: 20px;
}

.col-lg-4 {
    display: grid;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 270px;
    height: 245px;
    padding: 10px;
    border-radius: 30px;
    margin: 20px;
    justify-items: center;
    align-content: center;
}

.row {
    align-items: center;
    justify-content: center;
}

.contact {
    font-size: 18px;
    display: flex;
    justify-content: center;
    line-height: 40px;
}

.contact-box {
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    flex-direction: column;
    width: 800px;
    border-radius: 30px;
    border-width: 2px;
    margin: 20px;
    padding: 20px;
}

input {
    background-color: transparent;
    height: 30px;
}

textarea {
    background-color: transparent;
    height: 130px;
    width: 100%;
}

.submit {
    font-size: 20px;
    display: flex;
    justify-content: center;  
    align-items: center;  
    padding: 20px;
    background: lightblue;
    border: white;
    outline: black;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    height: 40px;
}

@media (min-width: 576px){
    .main {
        height: 300vh;
    }

    .header.header {
        height: 65px;
    }

    .header li {
        float: left;
    }
    .header li a {
        padding: 15px;
        font-size: 18px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }

    .title {
        font-size: 38px;
    }

    .subtitle {
        font-size: 30px;
    } 

    .p-home {
        font-size: 20px;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card-home {
        width: 290px;
        height: 200px;
    }

    .card-img {
        width: 230px;
        float: left;
    }

    .card-img:hover {
        width: 232px 2s;
    }

    .card-body-about {
        flex-direction: row;
        width: 580px;
        height: 430px;
        margin: 20px;
        justify-content: space-around;
    }

    .card-text-about {
        font-size: 14px;
        margin: 20px;
        width: 600px;
    }

    .card-body:hover {
        animation: services-animation 3s linear forwards infinite;
    }

    @keyframes services-animation {
        0% {
            transform: translateX(0);
        }
        33% {
            transform: translateX(7%);
        }
    }

    .services:hover, .submit:hover  {
        background-color: #61a6ab;
        height: 45px;
    }

    .card-body {
        width: 250px;
        height: 580px;
    }

    .card-img-top {
        width: 250px;
    }

    .card-title, .card-title-services {
        margin-top: 20px;
    }

    .col-lg-4:hover {
        animation: product-animation 3s linear forwards infinite;
    }

    @keyframes product-animation {
        0% {
            transform: translateX(0);
        }
        33% {
            transform: translateY(10%);
        }
    }

    .row {
        flex-wrap: wrap;
    }

    .contact {
        font-size: 20px;
        animation: contact-animation 5s linear forwards infinite;
    }

    .contact:hover {
        animation-play-state: paused;
    }

    @keyframes contact-animation {
        0% {
            transform: translateX(0);
        }
        33% {
            transform: translateX(3%);
        }
    }
}

@media (min-width: 768px){
    .header li a {
        font-size: 22px;
    }

    .card-img {
        width: 270px;
    }

    .card-img:hover {
        width: 290px;
    }

    .card-home {
        width: 300px;
        height: 260px;
    }

    .card-body-about, .card-text-about, .services, .card-body  {
        font-size: 20px;
    }

    .card-body-about {
        width: 850px;
        height: 590px;
    }

    .card-text-about {
        width: 600px;
    }

    .about-image {
        width: 425px;
    }

    .services {
        height: 40px;
    }

    .card-body {
        height: 620px;
    }

    .row {
        flex-wrap: nowrap;
    }
}